*{
    text-decoration: none !important;
    list-style: none !important;
}


body{
    background-color: #24353F !important;
}

.groub{
    background-color: #24353F;
    border: 10px solid #24353F;
    margin:70px auto;
    width: 50rem;
    padding: 50px;
    
}

.main-h1{
    color: #17A2B8;
    
}

input::placeholder{
    color: white !important;
}

.name{
    background-color: #24353F !important;
    width: 100%;
    margin: auto;
    color: white !important;
}
.email{
    background-color: #24353F !important;
    width: 100%;
    margin: auto;
    color: white !important;
}

.password{
    background-color: #24353F !important;
    color: white!important;
    width: 100%;
    margin: auto;
}

button{
    background-color: transparent;
    border: 2px solid #17A2B8;
    border-radius: 10px;
    width: 100%;
    color: #17A2B8;
    transition: all .3s;
    padding: 6px;
    margin-bottom: 20px;
}

button:hover{
    background-color: #17A2B8;
    color: white;
}
